/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2016, 3:49:47 PM
    Author     : BID
*/
@font-face {
    font-family: "montserrat_regular"; 
    src: url("../font/Montserrat-Regular.ttf"); /*URL to font*/
}

body{
    background: #ffffff;/*#0B3074*/
    color: #000000;
    font-family: "montserrat_regular";
    font-size: 12px;
    /* Margin bottom by footer height */
    margin-bottom: 90px;
}

.body-index{
    background: #0B3074;
    color: #ffffff;
}
/*******************HIDDEN LOGO*******************/
@media (max-width:1049px){
    .logo-sims{
        display: none;
        font-size: 50px;
    }
    .navbar-header {
        width: 100%;
        text-align: center;
    }
    .navbar-brand {
        display: block;
        float: none;
    }    
    
    .navbar-collapse { 
    	overflow-x: visible !important; 
   	}
	.navbar-collapse.in { 
		overflow-y: auto !important; 
	}
	.navbar-collapse.collapse { 
		display: none !important;
	}
	.navbar-collapse.collapse.in { 
		display: block !important; 
	}
	.collapse.in { 
		display: block !important; 
	}	
	.navbar-toggle { 
		display: block; 
	}
}

@media (min-width: 1050px){
    .logo-sims{
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 50px;
    }
    .navbar-brand {
        display: none;
    }
}

.page-headline{
    background : #0B3074;
    color: #ffffff;
    font-family: "montserrat_regular";
    font-size: 12px;
}

/*******************CENTER NAVBAR*******************/
.navbar {

    .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar-collapse {
        text-align: center;
    }
}

/*******************NAVBAR COLOR*******************/
.navbar-default {
    background : transparent;
    border-color: #339900;
    border-top-color: transparent;
    border-bottom-color: #ff882b;
    border-bottom-width: 3px;

    /*--TITLE--*/
    .navbar-brand {
        color: #ffffff;
    }

    .navbar-brand:hover,
        .navbar-brand:focus {
        color: #ffffff;
    }

    /*--LINK--*/
    .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-nav > li#menuUsername > a:hover,
    .navbar-nav > li#menuUsername > a:focus {
        background-color: transparent;
    }
    
    .navbar-nav > li > a:hover,
        .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: #ff882b;
    }

    .navbar-nav > .active > a,
    .navbar-nav > .active > a:hover,
        .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #ff882b;
    }

    /*--MOBILE VERSION--*/
    .navbar-toggle {
        border-color: #DDD;
    }

    .navbar-toggle:hover,
        .navbar-toggle:focus{
        background-color: #DDD;
    }

    .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }
}

.pull-right {
    float: right!important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pull-left {
    float: left!important;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*******************FOOTER PAGE*******************/
html {
    position: relative;
    min-height: 100%;
}

.footer {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background: #0B3074;

    p{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/*******************TABLE COLOR HOVER*******************/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #D9F633;
}

.fullSize{
    width: 100%;
}

.mediumSize{
    width: 50%;
}


/*******************CUSTOM DROPDOWN*******************/
.select button {
    width:100%; 
    text-align:left;
}

.select .caret {
    position:absolute; 
    right:10px; 
    margin-top:10px;
}

.select:last-child>.btn {
    border-top-left-radius:5px; 
    border-bottom-left-radius:5px;
}

.selected {
    padding-right:10px;
}

.option {
    width:100%;
}

/*****************SpinKit*******************************/
/*****Rotating Plane*****/
.sk-rotating-plane {
    width: 40px;
    height: 40px;
    background-color: #0B3074;
    margin: 40px auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

/*****Wave*****/
.sk-wave {
    margin: 40px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.sk-wave .sk-rect {
    background-color: #0B3074;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}

.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}